.hp-box1 {
    text-align: center;
    background-color: rgba(65,90,84,0.75);
    margin: 1rem;
}

.hp-header1 {
    color: rgba(245,245,245);
    padding: 1.5rem;
    font-weight: normal;
}

.hp-desc1 {
    color: rgba(245,245,245);
    padding: 1.5rem;
}


.hp-title {
    text-align: center;
    background-color: rgba(65,90,84,0.75);
    margin: 1rem;
}

.hp-desc {
    margin: 1px solid yellow;
    background-color: black;
}

.hp-desc-text {
    color: green;
    text-align: center;
}