/* Box 1: Welcome Box */
.hp-welcome-header {
    color: rgba(245,245,245);
    padding: 1.5rem;
    font-weight: normal;
}

.hp-welcome-desc {
    color: rgba(245,245,245);
    padding: 1.5rem;
    font-size: 1.25rem;
}

/* Box 2: Upcoming Events */
.hp-events-box {
    display: flex;
    color: rgba(245,245,245);
    padding: 1.5rem;
    font-size: 1.25rem;
}